body {
    font-family: 'Roboto', sans-serif;
}

.main-block {
    width: 300px;
    height: 500px;
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 30px;
}

.main-block-message {
    font-size: 30px;
}
